* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}
.navbar a {
  color: #fff !important;
  text-decoration: none;
}
.card-text {
  margin: 0;
}
li {
  cursor: pointer;
}
